<div class="center-align auth-error">~authError;</div>
<div class="center-align auth-success">~authSuccess;</div>
<div class="right-align">
~C!	~+#?problemCanRejudgeForm;
</div>
~+#submissionBriefTable;
<div class="box submission-section-header">
	~submissionCompileHeader;
</div>
~+#submissionCompileInner;
<div class="box submission-section-header">
	~submissionTestHeader;
</div>
~+#submissionTestInner;
<div class="box submission-section-header">
	~submissionSourceHeader;
</div>
~+#submissionSourceInner;
