~X! <!-- Start date/time -->
<tr>
	<td class="view-table-key">~contestStartDateKey;</td>
	<td class="view-table-value">~contestStartDateValue;</td>
</tr>
<tr>
	<td class="view-table-key">~contestStartTimeKey;</td>
	<td class="view-table-value">~contestStartTimeValue;</td>
</tr>
~X! <!-- Duration -->
<tr>
	<td class="view-table-key">~contestDurationKey;</td>
	<td class="view-table-value">~contestDurationValue; ~durationMinutes;</td>
</tr>
~X! <!-- Scoring policy -->
<tr>
	<td class="view-table-key">~contestScoringPolicyKey;</td>
	<td class="view-table-value">~contestScoringPolicyValue;</td>
</tr>
~X! <!-- Allow upsolving? -->
<tr>
	<td class="view-table-key">~contestAllowUpsolvingKey;</td>
	<td class="view-table-value">~contestAllowUpsolvingValue;</td>
</tr>
