<!DOCTYPE html>
<html lang="en_UK">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Alexander Kernozhitsky">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="~dataRoot;/tester.css" type="text/css">
		<script>
			fileTooBigAlertHead = 'File size must not exceed ';
			fileTooBigAlertTail = ' KBytes!';
		</script>
		<script type="text/javascript" src="~dataRoot;/tester.js"></script>
		<title>First Problem: Edit</title>
	</head>
	<body>
		<table class="container">
			<tr>
				<td rowspan="2" class="box logo-box">
					<a href="/">
						<img src="~dataRoot;/logoWithText.png" alt="Tester Web logo" class="logo">
					</a>
				</td>
				<td class="box header">
					First Problem
				</td>
			</tr>
			<tr>
				<td class="box userbar">
					You are logged in as <a href="/profile?user=admin" class="role role-owner">admin</a>.
					<a class="action" href="/profile">View profile</a>
					<a class="action" href="/logout">Log out</a>
				</td>
			</tr>
		</table>
		<table class="container"><tr>
			<td class="box nav">
				<ul>
					<li><a href="/index">Main Page</a></li>
					<li><a href="/page1">Page 1</a></li>
					<li><a href="/page2">Page 2</a></li>
					<li><a href="/problems">Problems List</a></li>
				</ul>
			</td>
			<td class="content-cell">
				<table class="box content-table">
					<tr><td class="content-header">
						Edit
					</td></tr>
					<tr><td class="content">
						<div class="box auth-form">
							<div class="center-align auth-error"></div>
							<div class="center-align auth-success"></div>
							<form action="" method="post">
								<table>
									<tr>
										<td class="edit-table-key">Title:</td>
										<td class="edit-table-value">
											<input type="text" name="title" value="First Problem" placeholder="Enter title" maxlength="42">
										</td>
									</tr>
									<!-- BEGIN -->
									<tr>
										<td class="view-table-key">Archive:</td>
										<td class="view-table-value">
											<input type="file" name="archive" id="archive" onchange="checkFileSize('archive', 8192);">
										</td>
									</tr>
									<tr>
									<tr>
										<td class="view-table-key">Statements:</td>
										<td class="view-table-value">
											<select>
												<option value="stHtml">HTML</option>
												<option value="stPdf">PDF</option>
											</select>
											<input type="file" name="statements" id="statements" onchange="checkFileSize('statements', 1024);">
										</td>
									</tr>
									<tr>
										<td class="view-table-key">Submission file limit (KBytes):</td>
										<td class="view-table-value">
											<input type="number" name="file-limit" min="1" max="8192" value="64">
										</td>
									</tr>
									<!-- END -->
									<tr>
										<td colspan="2">
											<input type="hidden" name="token" value="JR3P4SBbOhUz3kBET7WdaUnqI1qsrlMJ">
											<button type="submit" class="styled-btn">Edit problem</button>
										</td>
									</tr>
								</table>
							</form>
						</div>
						<p>
							<a class="styled-btn" href="/problem-view?object=first">View</a>
							<a class="styled-btn" href="/problem-access?object=first">Manage access</a>
						</p>
					</td></tr>
				</table>
			</td>
		</tr></table>
		<div class="box footer">
			Copyright &copy; 2017 Alexander Kernozhitsky
			<br>
			Tester Web is licensed under the terms of <a href="https://github.com/alex65536/tester-web/blob/master/LICENSE">GNU GPL</a> version 2 or any later version.
			<br>
			Sources are available on <a href="https://github.com/alex65536/tester-web">Github</a>.
		</div>
	</body>
</html>
