<table class="scrolled-table-wrapper"><tr><td class="wrap">
	<table class="box styled">
		<tr>
			<th class="narrow">~submissionHeaderId;</th>
			<th>~submissionHeaderSubmitTime;</th>
			<th>~submissionHeaderAuthor;</th>
			<th>~submissionHeaderProblem;</th>
			<th>~submissionHeaderLanguage;</th>
			<th>~submissionHeaderVerdict;</th>
			<th class="narrow">~submissionHeaderTest;</th>
			<th class="narrow">~submissionHeaderTime;</th>
			<th class="narrow">~submissionHeaderMemory;</th>
			<th class="narrow">~submissionHeaderScore;</th>
		</tr>
~C!		~#submissionListItems;
	</table>
</td></tr></table>
