<div class="box problem-submit">
	<form action="" method="post">
		<div>
			<span class="problem-submit-header">
				~problemSubmitSolution;
			</span>
			<span class="problem-submit-item">
				~problemLanguage;
				~#+problemLanguageList;
			</span>
			<span class="problem-submit-item">
				~problemFile;
				<input type="file" name="sol-file" id="sol-file" class="problem-submit-input" onchange="checkFileSize('sol-file', ~problemSubmitMaxSize;);">
			</span>
			<span class="problem-submit-btn-wrap">
				~+#formToken;
				<button type="submit" class="styled-btn problem-submit-btn">~problemSubmitText;</button>
				<span class="auth-error">
					~authError;
				</span>
			</span>
		</div>
	</form>
</div>
