~X! <!-- Archive -->
<tr>
	<td class="view-table-key">~problemArchiveKey;</td>
	<td class="view-table-value">
~X!		~:viewLinkRef='problem-archive/~objectName;.zip'
		~#+problemViewLink;
	</td>
</tr>
<tr>
~X! <!-- Statements -->
<tr>
	<td class="view-table-key">~problemStatementsKey;</td>
	<td class="view-table-value">
~X!		~:viewLinkRef='problem-statements/~objectName;.zip'
		~#+problemViewLink;
	</td>
</tr>
~X! <!-- Max source limit -->
<tr>
	<td class="view-table-key">~problemMaxSrcKey;</td>
	<td class="view-table-value">~problemMaxSrcValue;</td>
</tr>
