<div class="box problem-submit">
	<form action="" method="post" enctype="multipart/form-data">
		<div class="center-align auth-error">
~C!			~authError;
		</div>
		<div>
			<span class="problem-submit-header">
				~problemSubmitSolution;
			</span>
			<span class="problem-submit-item">
				~problemLanguage;
				~#problemLanguageList;
			</span>
			<span class="problem-submit-item">
				~problemFile;
				<input type="file" name="sol-file" id="sol-file" class="problem-submit-input" onchange="checkFileSize('sol-file', ~problemSubmitMaxSize;);">
			</span>
			~+#formToken;
			<button type="submit" class="styled-btn problem-submit-btn">~problemSubmitText;</button>
		</div>
	</form>
</div>
