body {
	background-color: #B6F3D1;
	height: 100%;
}


.box {
	box-shadow: 3pt 3pt 5pt #43594D;
	border-style: groove;
	border-width: 2pt;
	border-color: #1CA757;
	border-radius: 5pt;
	font-family: "Trebuchet MS",sans-serif;
	font-size: 12pt;
	margin: 5pt;
	margin-bottom: 0;
	padding: 5pt 10pt;
}
table.container {
	border-spacing: 5pt 3pt;
	width: 100%;
	height: 100%;
}


.header {
	background-color: #47BD7B;
	color: white;
	font-weight: bold;
	font-size: 44pt;
	text-align: center;
	width: 100%;
}


.logo {
	height: 112pt;
	width: auto;
}
.logo-box {
	background-color: #E3FFF0;
	padding: 5pt;
	width: auto;
}


.userbar {
	background-color: #7CE6AB;
	font-size: 12pt;
	text-align: right;
	width: 100%;
}
.userbar a.action {
	background-color: #075E2D;
	border-style: ridge;
	border-width: 2pt;
	border-color: #1CA757;
	border-radius: 5pt;
	box-shadow: 0pt 0pt 1pt #43594D;
	color: white;
	text-decoration: none;
	padding: 2pt 10pt;
	white-space: nowrap;
}
.userbar a.action:hover {
	background-color: #187842;
	border-style: groove;
}


.nav {
	background-color: #5C9978;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 150pt;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav li a {
	color: white;
	display: block;
	padding: 8pt 16pt;
	text-decoration: none;
}
.nav li a.active {
	background-color: #134027;
}
.nav li a:hover { 
	background-color: #2F684A;
}


td.content-cell {
	height: 100%;
	margin: 0;
	padding: 0;
}
table.content-table {
	background-color: #E3FFF0;
	border-spacing: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.content {
	height: 100%;
	padding: 10pt 10pt;
	vertical-align: top;
}
.content-header {
	background-color: #47BD7B;
	border-bottom-color: #1CA757;
	border-bottom-style: ridge;
	border-bottom-width: 2pt;
	color: white;
	font-size: 18pt;
	font-weight: bold;
	padding: 5pt 1pt;
	text-align: center;
}
.content-footer {
	background-color: #7CE6AB;
	border-top-color: #1CA757;
	border-top-style: ridge;
	border-top-width: 2pt;
	padding: 2pt;
	padding-bottom: 10pt;
}


table.center-wrapper {
	height: 100%;
	margin: auto;
	text-align: center;
}
.text-header {
	font-size: 14pt;
	font-weight: bold;
	padding: 3pt 0;
}
.content hr {
	border-style: inset;
	border-color: #1CA757;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}


.styled-btn {
	background-color: #47BD7B;
	border-style: groove;
	border-width: 2pt;
	border-color: #1CA757;
	border-radius: 5pt;
	box-shadow: 0pt 0pt 1pt #43594D;
	color: white;
	font-family: inherit;
	font-size: inherit;
	margin: 3pt 5pt;
	padding: 3pt 10pt;
	text-decoration: none;
	white-space: nowrap;
}
button.styled-btn:active, a.styled-btn:hover {
	background-color: #2DA35D;
	border-style: ridge;
}
.red-btn {
	background-color: #BD5447;
	border-color: #A72E1C;
}
button.red-btn:active, a.red-btn:hover {
	background-color: #A33F2D;
}
.grayed-btn, button.grayed-btn:active, a.grayed-btn:hover {
	background-color: #9C9C9C;
	border-color: #929292;
	border-style: ridge;
	color: white;
}
.small-btn {
	margin: 1pt 1pt;
	padding: 2pt 4pt;
}


.img-btn {
	padding: 0;
}
.img-btn img {
	height: 1em;
	margin: auto;
}
.img-styled-btn {
	padding: 2pt;
}
.img-styled-btn img {
	height: 1em;
	margin: auto;
}


.footer {
	background-color: #E3FFF0;
	text-align: center;
}


.auth-form {
	background-color: #FFFFFF;
	border-style: ridge;
	box-shadow: 1pt 1pt 2pt #43594D;
	display: inline-block;
	margin: 5pt 0;
	padding: 3pt 8pt;
	text-align: center;
	width: auto;
}
.auth-error {
	color: red;
	font-size: 11pt;
	margin: 3pt 5pt;
}
.auth-success {
	color: green;
	font-size: 11pt;
	margin: 3pt 5pt;
}
.auth-table {
	margin: auto;
}
.auth-field {
	text-align: right;
}
.auth-edit {
	font-family: inherit;
}


table.profile-table {
	border-spacing: 3pt 5pt;
}
.profile-table-key {
	vertical-align: middle;
	text-align: right;
}
.profile-table-value {
	padding-left: 10pt;
	text-align: left;
	vertical-align: middle;
}
.profile-table-btn {
	padding: 7pt;
	text-align: left;
	vertical-align: middle;
}
table.profile-role-table {
	border: none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.profile-role-text {
	padding: 0;
	padding-right: 5pt;
	width: 0;
	white-space: nowrap;
}
img.profile-role {
	height: 1.6em;
	vertical-align: middle;
}


.role-owner {
	color: #B00000;
	font-weight: bold;
	text-decoration-color: #B00000;
	text-decoration-line: underline;
	text-decoration-style: double;
}
.role-admin {
	color: #DB5303;
	font-weight: bold;
	text-decoration-color: #DB5303;
	text-decoration-line: underline;
}
.role-editor {
	color: #0413BC;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
.role-simple {
	color: #006524;
	font-weight: bold;
	text-decoration: none;
}
.role-blocked {
	color: black;
	font-weight: bold;
	text-decoration-color: black;
	text-decoration-line: line-through;
}


.styled-table-wrapper {
	padding-right: 10pt;
}
table.styled {
	border-spacing: 0;
	border-radius: 5pt;
	padding: 0;
	width: 100%;
}
table.styled tr {
	background-color: #C1EBD4;
}
table.styled tr:nth-child(even) {
	background-color: #FFFFFF;
}
table.styled td, table.styled th {
	border-left-style: solid;
	border-width: 1pt;
	padding: 3pt 5pt;
	text-align: center;
}
table.styled td:nth-child(1), table.styled th:nth-child(1) {
	border-left-style: none;
}
table.styled td {
	border-color: #1CA757;
}
table.styled th {
	background-color: #47BD7B;
	border-color: white;
	color: white;
	font-weight: bold;
}
table.styled th.narrow {
	width: 1pt;
}
table.styled td.nowrap {
	white-space: nowrap;
}


table.access-table th.id {
	padding-left: 1em;
	padding-right: 1em;
	width: 1pt;
}


td.a-delete-wrapper {
	padding: 6pt 6pt !important;
}


.view-table-key, .edit-table-key {
	vertical-align: middle;
	text-align: right;
}
.view-table-value, .edit-table-value {
	padding-left: 10pt;
	text-align: left;
	vertical-align: middle;
}


.error-msg {
	color: red;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}
.error-stack-trace-header {
	font-size: 14pt;
	font-weight: bold;
}
.error-stack-trace {
	padding-left: 20pt;
	padding-top: 5pt;
}


.problem-title {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}
.problem-statements {
}
.problem-no-statements {
	font-style: italic;
}
.problem-submit {
	background-color: #E3FFF0;
	font-size: 11pt;
	margin: 5pt;
}
.problem-submit-header {
	font-size: 12pt;
	font-weight: bold;
	margin-right: 5pt;
}
.problem-submit-item {
	background-color: white;
	border-style: ridge;
	border-width: 1pt;
	border-color: #1CA757;
	border-radius: 2pt;
	display: inline-block;
	margin-right: 7pt;
	padding: 2pt;
	padding-left: 5pt;
	white-space: nowrap;
}
.problem-submit-input {
	font-size: inherit;
}
.problem-submit-btn {
	font-size: 12pt;
	margin-left: 0;
	margin-right: 2pt;
}


.submission-section-header {
	background-color: #47BD7B;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: white;
	font-size: 15pt;
	font-weight: bold;
	padding: 2pt 4pt;
	text-align: center;
}
.submission-section {
	background-color: #B6F3D1;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-top-style: none;
	margin-top: 0;
}
.submission-section.empty {
	font-style: italic;
}


.submission-section.compile {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-style: none;
}
.compiler-output {
	background-color: white;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	max-height: 100pt;
	margin-top: 0;
	overflow: auto;
}
.compiler-output h4 {
	font-size: 13pt;
	margin: 0;
	margin-bottom: 8pt;
}
.compiler-output pre {
	font-size: 10.5pt;
	margin: 0;
	white-space: pre-wrap;
}


.source-view {
	background-color: white;
	font-size: 14pt;
	padding: 2pt 0;
}
table.source-view-inner {
	overflow: auto;
	table-layout: fixed;
	width: 100%;
}
.source-view div {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.source-view pre {
	font-size: 10.5pt;
	margin: 0;
	padding: 3pt 4pt;
	width: 100%;
	white-space: pre-wrap;
}


.back-btn {
	display: none;
}
