<table>
	<tr>
		<td class="profile-table-key">~profileUserNameKey;</td>
		<td class="profile-table-value">~userName;</td>
	</tr>
	<tr>
		<td class="profile-table-key">~profileRealNameKey;</td>
		<td class="profile-table-value">~firstName; ~lastName;</td>
	</tr>
	<tr>
		<td class="profile-table-key">~profileUserRoleKey;</td>
		<td class="profile-table-value">
			<table class="profile-role-table"><tr>
				<td class="profile-role-text">
					<span class="role-label-~userRoleLower;">~userRoleName;</span>
				</td>
				<td>
					<img class="profile-role" src="~dataRoot;/user~userRole;.png" alt="~userRoleName;">
				</td>
			</tr></table>
		</td>
	</tr>
	<!-- tr>
		<td class="profile-table-key">Change role to:</td>
		<td class="profile-table-value">
			<form action="profile/change-role" method="get">
				<select name="newrole" required>
					<option value="urAdmin">Admin</option>
					<option value="urBlocked">Blocked</option>
					<option value="urUser">User</option>
					<option value="urOwner">Owner</option>
				</select>
				<button type="submit">
					Change
				</button>
			</form>
		</td>
	</tr -->
	<tr>
		<td class="profile-table-key">~profileRegisterTimeKey;</td>
		<td class="profile-table-value">~profileRegisterTime;</td>
	</tr>
	<tr>
		<td class="profile-table-key">~profileLoginTimeKey;</td>
		<td class="profile-table-value">~profileLoginTime;</td>
	</tr>
	<!-- tr>
		<td colspan="2" class="profile-table-btn">
			<a class="styled-btn" href="~documentRoot;/settings">Update settings</a>
		</td>
	</tr -->
</table>
