<!DOCTYPE html>
<html lang="en_UK">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Alexander Kernozhitsky">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="~dataRoot;/tester.css" type="text/css">
		<title>Settings</title>
	</head>
	<body>
		<table class="container">
			<tr>
				<td rowspan="2" class="box logo-box">
					<a href="/">
						<img src="~dataRoot;/logoWithText.png" alt="Tester Web logo" class="logo">
					</a>
				</td>
				<td class="box header">
					Settings
				</td>
			</tr>
			<tr>
				<td class="box userbar">
					You are logged in as <strong>Admin Admin</strong>.
					<a href="/profile">View profile</a>
					<a href="/logout">Log out</a>
				</td>
			</tr>
		</table>
		<table class="container"><tr>
			<td class="box nav">
				<ul>
					<li><a href="/index" class="active">Main Page</a></li>
					<li><a href="/page1">Page 1</a></li>
					<li><a href="/page2">Page 2</a></li>
				</ul>
			</td>
			<td class="box content">
				<p>
					<div class="text-header">Update personal data:</div>
					<form class="box auth-form" action="" method="post">
						<div class="auth-error">~authError;</div>
						<table class="auth-table">
							<tr>
								<td class="auth-field">First name:</td>
								<td><input class="auth-edit" type="text" name="~authInputName;" placeholder="~+authNamePrompt;" maxlength="42" required></td>
							</tr>
							<tr>
								<td class="auth-field">Last name:</td>
								<td><input class="auth-edit" type="text" name="~authInputName;" placeholder="~+authNamePrompt;" maxlength="42" required></td>
							</tr>
						</table>
						<button class="styled-btn" type="submit">Update</button>
					</form>
				</p>
				<p>
					<div class="text-header">Change password:</div>
					<form class="box auth-form" action="" method="post">
						<div class="auth-error">~authError;</div>
						<table class="auth-table">
							<tr>
								<td class="auth-field">Old password:</td>
								<td><input class="auth-edit" type="password" name="password" placeholder="~authPasswordPrompt;" maxlength="64" required></td>
							</tr>
							<tr>
								<td class="auth-field">New password:</td>
								<td><input class="auth-edit" type="password" name="password" placeholder="~authPasswordPrompt;" maxlength="64" required></td>
							</tr>
							<tr>
								<td class="auth-field">Confirm new password:</td>
								<td><input class="auth-edit" type="password" name="password" placeholder="~authPasswordPrompt;" maxlength="64" required></td>
							</tr>
						</table>
						<button class="styled-btn" type="submit">Change</button>
					</form>
				</p>
				<p>
					<a class="styled-btn" href="~documentRoot;/profile">Back to profile</a>
				</p>
		</tr></table>
		<div class="box footer">
			Copyright &copy; 2017 Alexander Kernozhitsky
			<br>
			Tester Web is licensed under the terms of <a href="https://github.com/alex65536/tester-web/blob/master/LICENSE">GNU GPL</a> version 2 or any later version.
			<br>
			Sources are available on <a href="https://github.com/alex65536/tester-web">Github</a>.
		</div>
	</body>
</html>
