<!DOCTYPE html>
<html lang="en_UK">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Alexander Kernozhitsky">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
~C!		~?#+refreshHeader;
		<link rel="stylesheet" href="~dataRoot;/tester.css" type="text/css">
		<link rel="stylesheet" href="~dataRoot;/verdicts.css" type="text/css">
		<link rel="icon" href="~dataRoot;/logo.ico">
		<script>
			fileTooBigAlertHead = '~\fileTooBigAlertHead;';
			fileTooBigAlertTail = '~\fileTooBigAlertTail;';
		</script>
		<script type="text/javascript" src="~dataRoot;/tester.js"></script>
~C!		~?#+syntaxHighlighterJsFiles;
		<title>~+title;</title>
	</head>
	<body onload="attachTimers();">
		<table class="container">
~C!			~?#+header;
			<tr>
~C!				~?#+nav;
				<td class="content-cell">
					<table class="box content-table">
~C!						~?#+contentHeader;
~C!						~?#+contestPostHeader;
						<tr><td class="content">
							~#+content;
						</td></tr>
~C!						~?#+contentFooter;
					</table>
				</td>
			</tr>
~C!			~?#+footer;
		</table>
	</body>
</html>
